form.ui.form .field.inline.mandatory input {
    border-width: 3px;
}
form.ui.form .field.inline:not(.mandatory) > label {
    font-weight: normal;
}
form.ui.form .field.inline > label {
    width: 8em;
}
